body {
  background: #7e2502;
  color: #e0beb0;
  font-family: sans-serif;
}

#title,
#description {
  letter-spacing: 1.5px;
}

#title {
  color: #e0beb0;
  font-size: 2rem;
  padding: 0.5rem;
}

#description {
  font-size: 1.5rem;
  padding: 0.5rem;
}

#wrapper {
  display: grid;
  align-items: start;
  justify-items: center;
  position: relative;
}

#tooltip {
  background: #7e2502;
  color: #e0e2fc;
  position: absolute;
  opacity: 0;
  top: -12px;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.3;
  box-shadow: 0 6px 8px rgba(52, 73, 94, 0.2), 0 1px 1px rgba(52, 73, 94, 0.1);
  z-index: 10;
  transition: all 0.2s ease-out;
  pointer-events: none;
}

.tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #7e2502;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
}
